@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#05CCDA;
    --secondary-color:#FFFFFF;
    --accent1-color: aquamarine;
    --accent2-color:blue;
    --heading-font: Roboto;
    --paragraph-font: serif, Roboto;
    --nav-background-color:rgba(9, 108, 237, 0.797);
    --nav-link-color: blue;
    --nav-hover-link-color: rgb(0, 145, 255);
    --nav-hover-background-color:  blue;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
header{
    width: 960px;
    height: 100px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: var(--secondary-color);
}
header img{
    margin: 0 0.25rem 0;
	width: 150px;
	height: auto;
    
}

 nav{
    
    text-align: right;
   
}
.navigation{
    display: flex;
    list-style: none;
}
.navigation li{
    flex: 1 1 100%;
}

.navigation a{
    display: block;
    font-size: 25px;
    color:navy;
    padding: 20px;
    text-decoration: none;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);
    background-color: var(--accent1-color);
}


h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);

}
/* main{
    background-color: #4705e1;
} */

/* img */
.hero{
    position: relative;
   
}
.hero img{
    width: 100%;
    height: auto;

}

.hero h1{
    position: absolute;
    top: 30px;
    left: 300px;
    color: var(--paragraph-font);
    background-color: var(--primary-color);
}

article{
    
    position: relative;
    width: 400px;
    height: auto;
}
.parrafo{
    position: absolute;  
    top: -500px;
    left: 40px;
    padding: 20px;
    font-size: 1.5rem;
    font: bold;
    font-style: italic;
    color: black;
    font-family: var(--paragraph-font);  
    background-color: rgba(128, 128, 128, 0.54); 
    border-radius: 2%;
}


.imagen {
    position: absolute;
    top: -500px;
    left: 500px;
    border-radius: 2px;
    float: right;
}
section{
    padding: 50px;
}
h2{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 50px;
    background-color: rgba(128, 128, 128, 0.27);

}

.container{
    display: grid;
    
}
.container img{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px;
    grid-gap: 20px;
    width: 100%;
    margin: auto;
    
    
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}


section p{
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: var(--paragraph-font);
    padding-top: 30px;
}
footer{
    display:flex;
    width: 100%;
    height: auto;
    background-color: aquamarine;
}

footer p{
    font: bold;
    
}

footer nav a {
    display: flex;
    display:inline-block;
    
    
}

footer nav a img{
    justify-content: right;
    width: 30px;
    height: auto;

}